# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/scrape.iml
.idea/vcs.xml
scrape/spiders/__pycache__/
scrape/__pycache__/
.gitignore
